// COLORS
$color-white: #fff;
$color-black: #000000;
$color-bg: #ffffff;
$grey-blue-color: #8894BD;

// FONTS
$primary-font: 'Poppins';
$base-font-size: 16px;
$base-font-color: #0D0856;
$grey-font-color: #B1B0BD;

// OFFSET
$mobile-container-padding-x: 16px;
